body{
  background-color: #000000;
}
a{
  color: white;
  text-decoration: none;
}
#center{
  padding-top: 50px;
  margin:0 auto;
  width: 800px;
  background-color: #1a1a1a;
  padding-bottom: 50px;
}
#search{
  margin: 0 auto;
  width: 700px;
  height: 6em;
  margin-bottom: 25px;
  background-color: white;
  color: black;
  font-family: monospace;
}
.search{
  display: inline;
  width: 650px;
  height: 2em;
  margin:25px;
  color: black;
  font-family: monospace;
}
#dir{
  margin: 0 auto;
  width: 700px;
  height: auto;
  background: #404040;
  padding-top: 25px;
  padding-bottom: .5px;
}
#file{
  margin: 0 auto;
  width: 600px;
  height: 2em;
  background: #000000;
  margin-bottom: 25px;
  font-family: monospace;
  padding-top: 1em;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
