body{
  background-color: #000000;
}
a{
  color: white;
  text-decoration: none;
}
#center{
  padding-top: 50px;
  margin:0 auto;
  width: 800px;
  background-color: #1a1a1a;
  padding-bottom: 50px;
}
#search{
  margin: 0 auto;
  width: 700px;
  height: 1.5em;
  padding-top: 0.5em;
  margin-bottom: 25px;
  background-color: white;
  color: black;
  font-size: 1.2em;
  text-align: center;
  font-family: monospace;
}
.search{
  display: inline;
  width: 650px;
  height: 2em;
  margin:25px;
  color: black;
  font-family: monospace;
}
#dir{
  margin: 0 auto;
  width: 700px;
  height: auto;
  background: #404040;
  padding-top: 25px;
  padding-bottom: .5px;
}
#file{
  margin: 0 auto;
  width: 600px;
  height: 2em;
  background: #000000;
  margin-bottom: 25px;
  font-family: monospace;
  font-size: 11px;
  padding-top: 1em;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
#page{
  margin: 0 auto;
  width: 700px;
  font-family: monospace;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
}
.backward{
  display: inline-block;
  float: left;
  width: 300px;
  height: 1.75em;
  padding-top: .25em;
  background: #000000;
  margin-left: 25px;
}
.forward{
  display: inline-block;
  float: right;
  width: 300px;
  height: 1.75em;
  padding-top: .25em;
  background: #000000;
  margin-right: 25px;

}
ol{
  text-decoration: none;
}
li{
  margin-left: -28em;
  font-size: 1px;
}
.audiojs{
 margin: 0 auto;
 width: 600px;
}
.audiojs .scrubber{
  width:430px;
}
